html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

main{
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 27px rgb(14 13 13 / 83%);
    animation-name: fade;
    animation-duration: 2s;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="nome"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1{
  font-family: fantasy;
}

a{
  text-decoration: none;
}

/**********************EFEITOS**********************/
@keyframes fade {
  from {         /*SAIR DESSA LINHDA*/
      opacity: 0;
      transform: scale(0.9);
  }
  to {           /*ENTRA NESSA LINHA*/
      opacity: 1;
      transform: scale(1);
  }
}