body{
    height: 100%;
}
body{
    text-align: center;   
}
.textodebemvindo{
    font-family: fantasy;
    margin-top: -1500px;
    font-size: 4.5rem;
    color: rgb(247, 247, 247);
}
.imgfundo{
    margin-left: -1211px;
}
